.community__header__container {
  min-height: 45vw;
  background: linear-gradient(
    to right,
    var(--color-light-purple),
    var(--color-dark-purple)
  );
  color: var(--color-light-orange);
  display: flex;
  justify-content: center;
  align-items: end;
  text-align: center;
  /* padding-bottom: 5vw; */
  font-size: 12vw;
  position: relative;
}

.community__header__flower__container {
  background-image: url("../images/flower-header-bg-removebg-preview.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  opacity: 0.4;
}

.community__header__img__container {
  background-image: url("../images/image-gallery-3-removebg-preview.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
}

.community__header__title {
  position: absolute;
  top: 45%;
  z-index: 2;
}

.community__description__container {
  background-color: var(--color-white-purple);
  padding: 5% 10%;
  font-family: "Montserrat";
  line-height: 1.7;
  font-size: 1.5vw;
  text-align: center;
}
