/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* COLORS */
  --color-dark-grey: #1a1a1a;
  --color-dark-purple: #45213e;
  --color-light-purple: #9a6c7d;
  --color-light-orange: #f9bb7c;
  --color-white-purple: #d9c1bb;
  --color-white: #ffffff;
  --color-black: #000000;
}

/* FONT */
@font-face {
  font-family: "Maglite";
  src: url("fonts/Maglite.otf") format("otf");
}

html {
  font-family: "Maglite", serif;
}

/* GENRAL CLASSES */
img {
  display: block;
  width: 100%;
}

/* NAVBAR */
.nav {
  display: flex;
  background-color: var(--color-black);
  padding: 0 2rem;
  border: 0;
  border-bottom: 1px;
  border-color: var(--color-light-orange);
  border-style: solid;
}

.nav .logo {
  width: 10rem;
  padding: 20px;
}

.nav .logo img {
  width: 100%;
}

.nav .nav-links-container {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.nav .nav-links-container .nav-link {
  font-size: 15px;
  font-weight: 500;
  color: var(--color-white);
}

.nav .nav-links-container .nav-link:hover {
  color: var(--color-light-orange);
}

.nav .nav-links-container .active {
  border: 0px;
  border-bottom: 2px;
  border-color: var(--color-light-orange);
  border-style: solid;
  color: var(--color-light-orange);
}

.nav .icons-container {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.nav .icons-container .icon {
  color: var(--color-white);
  font-size: 25px;
}

.nav .icons-container .icon:hover {
  color: var(--color-light-orange);
}

.nav .menu-bars {
  color: var(--color-light-orange);
  font-size: larger;
  display: none;
}

.nav .menu-bars:hover {
  color: var(--color-white);
}

/* SIDEBAR */
.sidebar {
  display: none;
  color: #ffffff;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 400px;
  background-color: var(--color-black);
  opacity: 0.85;
  backdrop-filter: blur(20px);
  font-size: x-large;
  z-index: 1000;
}

.sidebar .fa-solid.fa-x {
  margin: 30px 0 30px 30px;
}

.sidebar .sidebar-nav-links-container {
  text-align: center;
}

.sidebar .sidebar-nav-links-container > .nav-link {
  width: 30%;
  margin: 0 auto;
  margin-bottom: 30px;
}

.sidebar .sidebar-nav-links-container > .nav-link.active {
  border: 0px;
  border-bottom: 2px;
  border-color: var(--color-light-orange);
  border-style: solid;
  color: var(--color-light-orange);
}

.sidebar .sidebar-nav-links-container > .nav-link:hover {
  color: var(--color-light-orange);
}

.sidebar .sidebar-icons-container {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 60px;
}

.sidebar .sidebar-icons-container > .icon:hover {
  color: var(--color-light-orange);
}

/* HERO */
.hero {
  background-color: var(--color-black);
  display: flex;
}

.hero > * {
  flex: 1;
}

.hero .hero-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero .hero-image-container img {
  filter: grayscale(90%);
  width: 90%;
}

.hero .hero-text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 30px;
  color: var(--color-light-orange);
  text-align: center;
}

@media only screen and (max-width: 1400px) {
}

@media only screen and (max-width: 1200px) {
  .nav .nav-links-container {
    gap: 3rem;
  }
}

@media only screen and (max-width: 992px) {
  .nav .nav-links-container {
    gap: 2rem;
  }
}

@media only screen and (max-width: 920px) {
  .nav .nav-links-container,
  .nav .icons-container {
    display: none;
  }

  .nav {
    justify-content: space-between;
    align-items: center;
  }

  .nav .menu-bars {
    display: block;
  }

  .hero {
    flex-direction: column;
  }

  .hero .hero-image-container img {
    width: 70%;
  }

  .hero .hero-text-container {
    padding: 100px;
  }
}

@media only screen and (max-width: 768px) {
  .hero .hero-text-container {
    padding: 70px;
  }
}

@media only screen and (max-width: 575px) {
  .sidebar {
    width: 100%;
  }
}
