<!-- FOOTER -->
<footer class="footer">
  <div class="footer-col footer-col-1">
    <img src="images/logo.png" alt="Logo" class="footer-logo" />
    <p class="footer-paragraph">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    </p>
    <h5 class="social-title">Share With Us</h5>
    <div class="social-icons-container">
      <i class="icon fa-brands fa-facebook-f"></i>
      <i class="icon fa-brands fa-instagram"></i>
      <i class="icon fa-brands fa-pinterest"></i>
    </div>
  </div>
  <div class="footer-col footer-col-2">
    <span class="footer-links-title">Support</span>
    <span class="footer-link">Contact Us</span>
    <span class="footer-link">About Us</span>
    <span class="footer-link">Careers</span>
    <span class="footer-link">Refunds & Returns</span>
    <span class="footer-link">Deliveries</span>
  </div>
  <div class="footer-col footer-col-3">
    <span class="footer-links-title">Information</span>
    <span class="footer-link">Search Terms</span>
    <span class="footer-link">Advanced Search</span>
    <span class="footer-link">Help & FAQ's</span>
    <span class="footer-link">Store Location</span>
    <span class="footer-link">Orders & Returns</span>
  </div>
  <div class="footer-col footer-col-4">
    <span class="footer-links-title">Support</span>
    <span class="footer-link">Contact Us</span>
    <span class="footer-link">About Us</span>
    <span class="footer-link">Careers</span>
    <span class="footer-link">Refunds & Returns</span>
    <span class="footer-link">Deliveries</span>
  </div>
</footer>
