<!-- NAVBAR -->
<nav class="nav">
  <div class="logo">
    <img src="images/logo.png" alt="logo" />
  </div>
  <div class="nav-links-container">
    <a href="/index.html" class="nav-link active">HOME</a>
    <a href="/about.html" class="nav-link">ABOUT</a>
    <a href="/catalog.html" class="nav-link">CATALOG</a>
    <a href="/contact.html" class="nav-link">CONTACT</a>
    <a href="/community.html" class="nav-link">COMMUNITY</a>
  </div>
  <div class="icons-container">
    <div class="icon"><i class="fa-solid fa-heart"></i></div>
    <div class="icon"><i class="fa-solid fa-magnifying-glass"></i></div>
    <div class="icon"><i class="fa-solid fa-user"></i></div>
    <div class="icon"><i class="fa-solid fa-bag-shopping"></i></div>
  </div>
  <i class="fa-solid fa-bars-staggered menu-bars" onclick="showSidebar()"></i>
  <!-- SIDEBAR -->
  <div class="sidebar">
    <i class="fa-solid fa-x" onclick="hideSidebar()"></i>
    <div class="sidebar-nav-links-container">
      <a href="/index.html" class="nav-link active">HOME</a>
      <a href="/about.html" class="nav-link">ABOUT</a>
      <a href="/catalog.html" class="nav-link">CATALOG</a>
      <a href="/contact.html" class="nav-link">CONTACT</a>
      <a href="/community.html" class="nav-link">COMMUNITY</a>
    </div>
    <div class="sidebar-icons-container">
      <div class="icon"><i class="fa-solid fa-heart"></i></div>
      <div class="icon"><i class="fa-solid fa-magnifying-glass"></i></div>
      <div class="icon"><i class="fa-solid fa-user"></i></div>
      <div class="icon"><i class="fa-solid fa-bag-shopping"></i></div>
    </div>
  </div>
</nav>
